table,
td,
th,
tr {
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse;
}
table{
    background-image: url(exp8.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

body {
    background-color: aliceblue;
}
.ttl{
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.tt{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

.hk:hover{
    height: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: greenyellow;
}

.kh:hover{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: larger;
    height: 50px;
    background-color: greenyellow;
}

.day:hover{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: whitesmoke;
}
.data:hover{
    background-color: whitesmoke;
}
.stn:hover{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.sub:hover{
    font-family: Arial, Helvetica, sans-serif;
    background-color: cyan;
}

.qt:hover{
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
}
.qtt:hover{
    background-color: #39FF14;
}
