.main {
    display: grid;
    background-color: black;
    grid-template-rows: 7% 80% 10% 3%;
}

.header {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: black;
}

.content {
    display: grid;
    grid-template-rows: 20% 40% 10% 10% 10%;
    background-color: black;
}

.footer {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    background-color: grey;
    margin-bottom: auto;
}

.cpr {
    display: grid;
    text-align: center;
    font-size: large;
    color: red;
    padding-bottom: 20px;
}